<!DOCTYPE html>
<html lang="en">

<head>
    <title>Demo1-politics</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/interface2/css/style.css" />
    <link rel="stylesheet" href="../assets/interface2/css/d3_style.css" />
    <link rel="stylesheet" href="../assets/interface2/css/timeline_style.css" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../assets/interface2/materialize/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  

    <script src="http://d3js.org/d3.v4.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../assets/interface2/materialize/js/materialize.js"></script>
    <script src="../assets/interface2/js/index.js"></script>
</head>

<body>
    <div class="container">
        <nav class="no-shadows">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Social Searcher</a>
                <a href="#" class="sidenav-trigger navbar-icon" data-target="mobile-nav">
                    <i class="material-icons black-text">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Trends</a></li>
                    <li><a href="#">Timeline</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#" class="highlight">Sign in</a></li>
                </ul>
            </div>
        </nav>
        
    </div>
    <div class="graph">
        <h4 class="center">Graph</h4>
        <div class="d3_graph" id="aaa">
            <svg></svg>
        </div>
    </div>
</body>


<script src="../assets/interface2/js/story_graph.js"></script>

<script src="../assets/interface2/js/index.js"></script>
</head>